<h2>Categorias</h2>
<div class="card">
  <div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Slug</th>
					<th scope="col">Data de criação</th>
				</tr>
			</thead>
			<tbody>
				{{#each categorias}}
				<tr>
					<td>{{nome}}</td>
					<td>{{slug}}</td>
					<td>{{date}}</td>
				</tr>
				{{else}}
				{{/each}}
			</tbody>
		</table>
  </div>
</div>

<hr>

<a href="/admin/categorias/add"><button type="button" class="btn btn-success">Nova categoria</button></a>