<div class='card'>
  <div class='card-body'>
    <h2>{{postagem.titulo}}</h2>
    <hr />
    <small>{{postagem.data}}</small><br />
    <hr />
    <p class='text-break'>
      {{postagem.conteudo}}
    </p>
  </div>
</div>